.location {
  &-infos {
    h1 {
      font-size: 23px;
      margin-bottom: 27px;
    }
  }
  &-details {
    padding: 0 38px;
    font-size: 14px;
  }
  &-categories {
    padding: 44px 44px 0 44px;
    li {
      background-color: rgb(239, 239, 239);
      color: rgb(126, 126, 126);
      padding: 10px;
      margin: 0 5px;
    }
  }
  &-back {
    margin-top: 50px;
    font-size: 20px;
    .fa {
      padding: 0;
    }
    a {
      color: #E1E2E2;
    }
    a:hover {
      color: darken(#E1E2E2, 40%);
    }
  }
}
