<div id="footer">
 <div class="container">
   <div class="row">
     <ul class="list-inline text-center">
       <li>
       <%= link_to "https://www.facebook.com/", :class=>'footer-button' do %>
         <i class="fa fa-facebook"></i>
       <% end %>
       </li>
       <li>
         <%= link_to "https://twitter.com/?lang=fr", :class=>'footer-button' do %>
           <i class="fa fa-twitter"></i>
         <% end %>
       </li>
       <li>
         <%= link_to "https://www.youtube.com/?hl=fr&gl=FR", :class=>'footer-button'  do %>
           <i class="fa fa-youtube"></i>
         <% end %>
       </li>
       <li><%= link_to "Contact Us", "#", class: "footer-text" %></li>
     </ul>
   </div>
 </div>
</div>


