<div class="card">
  <h1>About us</h1>
    <p>After much travelling and worsening mobility over the last ten years, it became clear that there was no reliable way to find information on accessibility online. The idea behind his site is to rectify this with contributions from users with mobility difficulties or even parents with pushchairs who have trouble getting around due to a lack of accessibility for anyone with wheels or who has trouble with steps.</p>
</div>
