<%= content_for(:title) do %>
  Home
<% end %>

<%= content_for(:description) do %>
  <%# TODO %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h1>Welcome to GoMobily!</h1>

      <h2>Search for a location here</h2>

      <p>
        Homepage in <code>app/views/pages/home.html.erb</code>
      </p>

        </div>
  </div>
</div>
