/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

 .fa {
  padding: 0 10px;
 }

.background {
  background-image: image-url("purple-bg.jpg");
  background-size: cover;
  background-position: center top;
}

h1, h2 {

}
