// Your footer style

#footer {
background-color: $purple;
font-size: 25px;
padding: 25px;
  &li a {
    color: $white;
  }
}


  #footer a {
    color: $white;
    background-color: transparent;
    &:hover {
      color: #878787;
    }
  }
