/* -------------------------------------
 * You killer button SASS module
 * ------------------------------------- */
 .btn-thin {
  height: 30px;
  line-height: 15px;
  margin: 5px 0 10px 0;
 }

.home__auth--facebook-button {
  margin: 10px 10px 0 0;
  padding-top: 10px;
  width: 240px;
}
