/* -------------------------------------
 * You killer button SASS module
 * ------------------------------------- */
 .btn-thin {
  height: 30px;
  line-height: 15px;
  margin: 5px 0 10px 0;
 }

.home__auth--facebook-button {
  margin: 10px 10px 0 0;
  padding-top: 10px;
  width: 240px;
}

.margin-small {
  margin: 15px;
}

input[type=submit], button[type=submit] {
  padding:5px 15px;
  color: #FFF;
  background-color: #337AB7;
  border-color: #2E6DA4;
  border:0 none;
  &:hover {
    background-color: #286090;
    border-color: #204D74;
  }
}
